.carousel {
  border-radius: 25px;
  background-color: var(--secondary-color);
  margin-left: auto;
  width: 600px;
}

.carousel-container {
  width: 600px;
  margin: 5px;
  border-radius: 25px;
  color: var(--main-color);
}
