.header {
  display: flex;
  background-color: var(--main-color);
  height: 20vh;
  padding: 10px;
}

.header-logo {
  max-width: 500px;
  margin: auto;
}

Image {
  width: auto;
  height: 15vh;
}

.header-icons {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
}

.header-icon {
  width: 5vw;
  height: 5vh;
  margin: 5px;
  cursor: pointer;
}