.menu {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: auto;
  background-color: var(--secondary-color);
}

.menu-link {
  margin: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu-link:hover {
  color: var(--main-color);
  font-weight: 900;
}